<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xie.doctorAppointy">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/heart_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/heart_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.xie.doctorAppointy.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.xie.doctorAppointy.LoginActivity"
            android:parentActivityName="com.example.xie.doctorAppointy.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.xie.doctorAppointy.Patient_DoctorProfileActivity"
            android:parentActivityName="com.example.xie.doctorAppointy.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.xie.doctorAppointy.Patient_RegistrationActivity"
            android:parentActivityName="com.example.xie.doctorAppointy.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.xie.doctorAppointy.Patient_BookAppointmentActivity"
            android:parentActivityName="com.example.xie.doctorAppointy.Patient_DoctorProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.xie.doctorAppointy.Patient_ShowBookedAppointmentActivity"
            android:parentActivityName="com.example.xie.doctorAppointy.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.xie.doctorAppointy.Doctor_ProfileActivity"
            android:parentActivityName="com.example.xie.doctorAppointy.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.xie.doctorAppointy.Doctor_EditProfileActivity"
            android:parentActivityName="com.example.xie.doctorAppointy.Doctor_ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.xie.doctorAppointy.Doctor_ShowAppointmentActivity"
            android:parentActivityName="com.example.xie.doctorAppointy.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.xie.doctorAppointy.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.xie.doctorAppointy.Forgot_PasswordActivity"
            android:parentActivityName="com.example.xie.doctorAppointy.LoginActivity"
            android:screenOrientation="portrait" />


        <activity android:name="com.example.xie.doctorAppointy.FeedbackActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name="com.example.xie.doctorAppointy.About_App"
            android:screenOrientation="portrait"/>
    </application>

</manifest>